/*
Styling van de product koop box
*/

.price-box{
  font-weight: 400;
  margin-bottom: 20px;
  .prices{
    font-size: 1.7em;
    span{
      display: block;
      line-height: 100%;
    }
  }
  .delivery-usp{
    &:not(.single-price){
      margin-top: 45px;
    }
    margin-left: 10px;
    font-size: 1.3em;
    &.available{
      color: $green-normal;
    }
    &.unavailable{
      color: $red;
    }
  }
}
ul.usp-list{
  font-size: 1.1em;
  color: $font-color-light;
  font-weight: 400;
  margin: 25px 0;
  font-family: $font-family-content;
  li{
    margin-bottom: 16px;
    position: relative;
    padding-left: 34px;
    &:before{
      position: absolute;
      display: inline-block;
      top: 50%;
      left:0;
      transform: translateY(-50%);
      content:'';
      width: 22px;
      height: 22px;
      background: url("./assets/images/icons/check-circle-blue.svg") no-repeat center center;
    }
  }
}