/*
Styling van typografie
*/
h1,h2,h3{
  line-height: 126%;
  font-weight: 500;
}
h1{
  font-size: 1.6em;
}
h2{
  font-size: 1.4em;
}
h3{
  font-size: 1.2em;
}
p{
  font-family: $font-family-content;
}


@media #{$desktop}{
  h1{
    font-size: 1.8em;
  }
}
@media #{$desktop} {
  h1{
    font-size: 2em;
  }
}

