h3 {
  font-size: 1.2em;
}

.card {
  margin-bottom: 30px;
  a h3{
    color: $font-color-base
  }
}
.card-body{

}

.card-img-container {
  position: relative;
  height: 200px;
}

.card-img-top {
  position: absolute;
  top:20px;
  right:0;
  bottom: 0;
  left:0;
  margin:auto;
  height: 100%;
  width: auto;
  display: block;
}
.product-overview{
  margin-top: 30px;
}