/*
Responsive variables
*/
$desktop:           "only screen and (min-width: 960px)";
$wrapper-reached:   "only screen and (max-width: 1220px)";
$tablet:            "only screen and (min-width: 720px) and (max-width: 959px)";

